body{
    background-color: #ffffff;
}
.formulario{
    width: 30%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 100px;
    margin-top: 3%;
	background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 1px 1px 4px;   
    flex-direction: column;
}
.standart_input{
    
    min-width: 350px;
    padding: 10px;    
    border-radius: 10px;
    border-width: 1px;
    margin-bottom: 30px;
} 
.send{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 10px;
    border-radius: 10px;
    background-color: #0084ff;
    color: #f5f5f5;
    text-decoration: none;
}
.pass{
    margin-top: 30px;
}
/*.cadast{
    
}*/
.buttonIndex{
    background-color:#a3a3a3 ;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.authGoogleButton{
    padding: 10px;
    border-radius: 10px;
    margin: 50px;
    background-color: #ff0000;
    color: #f5f5f5;
    text-decoration: none;
}
